.align{
display: grid;
flex-direction: row;
justify-content: center;
align-items: center;
}

.gameboard{
    border: 5px solid black;
    border-bottom: 5px solid green;
    background: linear-gradient(#87ceeb, #e0f6ff);
    height: 500px;
    width: 600px;    
    position: relative;
    overflow: hidden;
}

.mario{
    position: absolute;
    width: 80px;
    bottom: 0px;
} 

.cloud {
    position: absolute;
    top: 100px;
    width: 250px;
    animation: clouds 20s infinite linear;
}

.jump-class {
    animation: jump 700ms ease-out;
}

.pipe{
    position: absolute;
    width: 45px;
    bottom: 0px;
    /*left:70px;*/
    right: -45px;
    animation: pipe-move 2s infinite linear;
}

@keyframes pipe-move {
    from {
        right: -45px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    
    0% { 
    
        bottom: 0px;
    
    }
    
    45% {
        
        bottom: 120px;
    }
    
    55% {
        
        bottom: 120px;
    }
    
    100% {
        bottom: 0px;
    }
    
    
}

@keyframes clouds {

    from{
        right: -250px;
    }
    to{
        right: 100%;
    }
    
}